:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #9F9A9A;
    --botao-azul: #167BF7;
    --cor-de-fundo: #040814;
    --fonte-principal: inter;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0
    padding 0;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align:center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container_botao{
    background-color: var(--botao-azul);
    border: radius 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario)
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}

.container_imagem{
    margin: 1em 2em 0;

}

.container_caixa{
    margim: 0 6em
}

.secundario_imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margim:0 10em
}

.decriçao_titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);    
    margim-bottom: 0, 1em;
}

.descriçao_texto{
    color: var(--cinza-secundario);
}