:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #9F9A9A;
    --botao-azul: #167BF7;
    --cor-de-fundo: #040814;
}

body{
    background-color: var (--cor-de-fundo);
}

*{
    margin: 0
    padding 0;
}